{% extends "base.html"%} 

{% block content %}
<div class="container">

  <h2>About Us:</h2>
  
  <div id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
          Formal Shirt
        </a>
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
Buy wide range of formal shirts for men & women online in India. Choose from stripes, checks, & solid colours to make a statement! -Free Shipping -Cash on Delevery is available.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
        Casual Shirt
      </a>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
Buy wide range of Casual shirts for men & women online in India. Choose from stripes, checks, & solid colours to make a statement! -Free Shipping -Cash on Delevery is available.
        </div>
      </div>
    </div>
<div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
       Shorts.
      </a>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
Buy wide range of Shorts for men & women online in India. Choose from stripes, checks, & solid colours to make a statement! -Free Shipping -Cash on Delevery is available.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
          Jeans
        </a>
      </div>
      <div id="collapseFour" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Buy wide range of Jeans for men & women online in India. Choose from stripes, checks, & solid colours to make a statement! -Free Shipping -Cash on Delevery is available.
        </div>
      </div>
    </div>
  </div>
</div>
    

{% endblock %}