{% extends "base.html"%} 

{% block content %}
<style=background-image:url("/media/background/bg1.jpg")>
    <div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators" style=align:'center'>
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>
    <li data-target="#demo" data-slide-to="5"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/media/1.jpg" alt="Formal" width="500" height="200">
      <div class="carousel-caption">
        <h3>Formal Shirt</h3>
        <p>We had such a great quality of Formal Wear!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="/media/2.jpg" alt="Casual" width="500" height="200">
      <div class="carousel-caption">
        <h3>Casual Shirt</h3>
        <p>We had different brand of casual wear!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="/media/3.jpg" alt="Shorts" width="500" height="200">
      <div class="carousel-caption">
        <h3>Shorts</h3>
        <p>N no of shorts are available here!</p>
      </div>   
    </div>
   <div class="carousel-item">
      <img src="/media/1_hVhIaKs.jpg" alt="Casual" width="500" height="200">
      <div class="carousel-caption">
        <h3>Casual</h3>
        <p>We had different brand of casual wear!</p>
      </div>   
    </div>
   <div class="carousel-item">
      <img src="/media/2_wb0VKgA.jpg" alt="Casual" width="500" height="200">
      <div class="carousel-caption">
        <h3>Formal Shirt</h3>
        <p>We had different brand of casual wear!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="/media/2_J0Sqw6n.jpg" alt="Casual" width="500" height="200">
      <div class="carousel-caption">
        <h3>Jeans</h3>
        <p>We had different brand of casual wear!</p>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

  
{% endblock %}