{% extends "base.html"%}
{% block content %}
<section class="brand-area">
            <div class="col-xl-6 col-lg-12 col-md-12">
                        <div class="experience-area">
                            <div class="d-flex flex-row years-area">
		<h2 class="p-3 years">Thank you ..</h2>
	             	<h2>
		<span>for visiting My Portfolio Website</span><br>
		 <span>I have send email for you . </span><br>
		 <span>I will contact you with requested information. </span>
		</h2>
		</div>
                            </div>
	</div>

</section>
{% endblock %}